nav ul{  
    list-style-type: none;
}

nav li{
    margin: 0 1rem;
    float: left;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #e8aabe;
    position: sticky;
    top: 0px;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border: 2px solid transparent;
    padding: 12px 0px;
    font-size: 20px;
    cursor: pointer;
}

nav a:hover{
    color: #db6a8f;
}

.header {
    /* height: calc(100vh - 12vh - 84vh); */
}

nav button {
    display: block;
    text-decoration: none;
    color: black;
    border: 2px solid transparent;
    padding: 10px 0px;
    font-size: 20px;
    cursor: pointer;
    background-color: #e8aabe;
}

nav button:hover{
    color: #db6a8f;
}
