* {
  font-size: 0.8rem;
}

.footer {
    /* height: calc(100vh - 84vh - 4vh); */
    min-height: 5vh;
    background: #e8aabe;
    margin-top: 0px;
    display: flex;
}

.footer-section {
    margin: 0 auto;

}

.footer-section p {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 17px;
    width: 30%;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.footer-links li {
    margin: 0 25px;
    display: inline-block;
}

.footer-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.footer-links a:hover {
    text-decoration: underline;
}

ul {
    margin-top: auto;
}

h3 {
    margin-top: 5px;
    margin-bottom: 1px;
}

.text {
    margin-right: 17px;
    width: 70%;
}
