<div class="footer">
    <div class="footer-section">
      <p>Lien rapides</p>
            <ul>
                <div class="footer-links">
                    <li><a [routerLink]="['/contact']">Contact</a></li>
                    <li><a [routerLink]="['/livraison']">Livraison</a></li>
                    <li><a [routerLink]="['/cgv']">CGV</a></li>
                </div>
            </ul>
        </div>
        <div class="text"><h3>Rejoignez la Communauté ColorCook</h3>
            Suivez-nous sur les réseaux sociaux pour découvrir en avant-première nos nouvelles recettes, participer à des concours exclusifs et entrer dans l’univers chaleureux de ColorCook.
            <br>
            Craquez pour l’authenticité et laissez-vous tenter par une pause gourmande à tout moment de la journée.
            <br>Nous vous garantissons que chaque biscuit, petit ou grand, apportera un moment de plaisir inégalé.
    </div>
</div>
