<div class="footer">
    <div class="footer-section">
            <ul><p>Lien rapides</p>
                <div class="footer-links">
                    <li><a onclick="location.href='contact'" routerLink="contact" routerLinkActive="contact" ariaCurrentWhenActive="page">Contact</a></li>
                    <li><a onclick="location.href='livraison'" routerLink="livraison" routerLinkActive="livraison" ariaCurrentWhenActive="page">Livraison</a></li>
                    <li><a onclick="location.href='cgv'" routerLink="cgv" routerLinkActive="cgv" ariaCurrentWhenActive="page">CGV</a></li>
                </div>
            </ul>
        </div>
        <div class="text">Rejoignez la Communauté ColorCook
            Suivez-nous sur les réseaux sociaux pour découvrir en avant-première nos nouvelles recettes, participer à des concours exclusifs et entrer dans l’univers chaleureux de ColorCook.
            Craquez pour l’authenticité et laissez-vous tenter par une pause gourmande à tout moment de la journée. Nous vous garantissons que chaque biscuit, petit ou grand, apportera un moment de plaisir inégalé.
        </div>
</div>