<div class="container">
    <main class="cgv">
<div><br>
    <h1>Conditions Générales de Vente</h1>
La seule langue de communication possible est le français et en toutes circonstances.<br>
ColorCook vend des biscuits de fabrication artisanale les conditions générales de ventes s’appliquent en conséquence.
<br>
Les ventes en lignes réalisées par le biais du site internet de ColorCook sont réglementées actuellement par les dispositions du code de la consommation et ses textes d’application qui correspondent à la directive européenne en matière de contrat à distance.
<br>
<br>
<h2>Article I Présentation :</h2>
L’Atelier du biscuit présente ses acticles de façon suggestive et peut évoluer à tout moment.<br>
Les prix sont affichés T.T.C. en euros hors frais de livraison réservé aux particuliers clients du site internet uniquement.
Les prix affichés au jour de la commande sont ceux qui devront être acquittés par le client, ColorCook se réserve le droit de les modifier à tout moment.<br>
Si une erreur de manipulation informatique provoque une discordance majeure sur le prix payé ou la quantité, ColorCook se réserve le droit d’avertir le client par mail dans un délai de 7 jours pour proposer une solution ou, à défaut d’acceptation, annuler la commande.<br>
<br>
<h2>Article II Prise en charge des commandes :</h2>
Les commandes passées par le biais du site internet ne font pas toujours l’objet de confirmation, toutefois ColorCook se garde le droit d’avertir le client dans les plus brefs délais.<br>
S’il ne peut pas satisfaire la commande, de ce fait le contrat se verra annulé et le remboursement se fera par chèque, sans qu’aucun dommage ne puisse être réclamé.
Les commandes seront prises en compte à partir du réglement total de celles-ci par le biais du paiement en ligne.
En cas de désaccord les informations enregistrées par ColorCook constituront la preuve.
<br>
<br>
<h2>Article III Expéditions :</h2>
Les frais de livraisons s’élèvent à partir de 5,40 euros ttc et sont gratuits à partir de 55 € ttc de commande.
Le délai d’expédition varie en fonction des stocks et capacités de production sachant qu’il s’agit d’une biscuiterie artisanal.
Les expéditions seront prises par ordre chronologique des commandes et en fonction des disponibilités de chacun des produits.
Les envois sont sous la responsabilité du destinataire, lequel devra en cas d’anomalie le signaler par lettre recommandée au transporteur le plus rapidement possible.
ColorCook propose la livraison de ses biscuits en france métropolitaine et en belgique par le biai de Mondial Relay.
<br>
<br>
<h2>Article IV Règlement :</h2>
Toute commande devra être réglée pour pouvoir être enregistrée et expédiée.
Le règlement de celle-ci pourra se faire uniquement via le site.
<br>
<br>
<h2>Article V Droits de rétractation :</h2>
En application de l’article L.121-16 du Code de la consommation, tout consommateur bénéficie d’un délai de 14 jours pour exercer son droit de rétractation.
Toutefois, ce droit n’est pas applicable pour les contrats de fourniture de produits périssables, agro-alimentaires.
Si le colis est remis au transporteur, aucune modification ou annulation ne pourra être prise en compte.

Article VI Litiges :
En cas de litige seul les tribunaux situés sur la circonscription dont dépend ColorCook seront compétents.
<br><br>
</div>
    </main>
</div>
