<div class="container">
    <div class="text">
        <h1>Commandez en Ligne et Faites-vous Livrer !</h1>

        <p>Rien de plus simple que de profiter de nos délices depuis chez vous. Grâce à notre boutique en ligne,   sélectionnez vos biscuits préférés, personnalisez votre commande et faites-vous livrer en quelques clics.<br>Que ce soit pour vous faire plaisir ou pour offrir, chaque colis est soigneusement préparé pour une expérience gourmande inoubliable.<br><br>
        Livraison OFFERTE en mondial relay dans un point de retrait proche de chez vous à partir de 55€ d'achat.<br><br>
        Livraison en mondial relay à partir de 5,40€ pour les colis de 1kg ou moins et 6,60€ au delà.    Livraison entre 2 à 4 jours ouvrés.<br><br>
        Livraison en Colissimo à partir 8,80€ pour les colis de 1kg ou moins et 10,15€ au delà.        Livraison en 48h. (Hors jours non ouvrés ou jours fériés)
        </p>
    </div>
</div>