<div class="container">
    <section class="gallery">
        <div class="gallery-item">
            <a href="../../../../assets/gat1.webp" target="_blank">
                <img src="../../../../assets/gat1.webp" alt="Photo 1">
            </a>
        </div>
        <div class="gallery-item">
            <a href="../../../../assets/gat2.webp" target="_blank">
                <img src="../../../../assets/gat2.webp" alt="Photo 2">
            </a>
        </div>
        <div class="gallery-item">
            <a href="../../../../assets/gat3.webp" target="_blank">
                <img src="../../../../assets/gat3.webp" alt="Photo 3">
            </a>
        </div>
        <div class="gallery-item">
            <a href="../../../../assets/gat4.webp" target="_blank">
                <img src="../../../../assets/gat4.webp" alt="Photo 4">
            </a>
        </div>
        <div class="gallery-item">
            <a href="../../../../assets/gat5.webp" target="_blank">
                <img src="../../../../assets/gat5.webp" alt="Photo 5">
            </a>
        </div>
        <div class="gallery-item">
            <a href="../../../../assets/gat6.webp" target="_blank">
                <img src="../../../../assets/gat6.webp" alt="Photo 6">
            </a>
        </div>
        <div class="gallery-item">
            <a href="../../../../assets/gat5.webp" target="_blank">
                <img src="../../../../assets/gat5.webp" alt="Photo 5">
            </a>
        </div>
        <div class="gallery-item">
            <a href="../../../../assets/gat6.webp" target="_blank">
                <img src="../../../../assets/gat6.webp" alt="Photo 6">
            </a>
        </div>
        <div class="gallery-item">
            <a href="../../../../assets/gat5.webp" target="_blank">
                <img src="../../../../assets/gat5.webp" alt="Photo 5">
            </a>
        </div>
        <div class="gallery-item">
            <a href="../../../../assets/gat6.webp" target="_blank">
                <img src="../../../../assets/gat6.webp" alt="Photo 6">
            </a>
        </div>
    </section>
</div>