<div class="container">
    <main id="home">
        <div class="section gauche" [routerLink]="['/tarkov']">
            <nav>
                <h2><a [routerLink]="['/tarkov']">Escape From Tarkov</a></h2>
                <p>PiouPiou</p>
            </nav>
        </div>
        <div class="section droite" [routerLink]="['/cookies']">
            <nav>
                <h2><a [routerLink]="['/cookies']">Cookies</a></h2>
                <p>NiomNiom</p>
            </nav>
        </div>
    </main>
</div>