<div class="container">
    <main class="text">
        <h1>Bienvenue chez ColorCook, l'univers de Kelly</h1>

        <p>Laissez-vous emporter dans mon univers,  jeune femme passionnée de gourmandises et de simplicité, qui a transformé son amour pour les biscuits en une aventure artisanale pleine de saveurs. Chez ColorCook, chaque biscuit raconte une histoire, celle d’une passionnée qui a su allier ambition et authenticité pour vous offrir le meilleur du fait maison, avec des recettes aussi simples que délicieuses.
        <br><br>
        Mon histoire
        Animée par une soif d'entreprendre et un profond respect pour les saveurs simples, J'ai toujours cru que les meilleures choses de la vie sont celles que l’on partage. Après des années à perfectionner mes recettes dans ma cuisine familiale, j'ai décidé de lancer ColorCook pour partager mes créations avec tous les gourmands, petits et grands. Ma vision ? Créer des biscuits qui réchauffent le cœur, tout en restant fidèles à des ingrédients simples et naturels.
        <br><br>
        Une Biscuiterie Authentique et Gourmande
        Chez ColorCook, chaque biscuit est confectionné à la main, avec des ingrédients locaux. Fière de mon savoir-faire artisanal, je propose une gamme de biscuits faits pour ceux qui, comme moi, apprécient les plaisirs simples, sans compromis sur le goût ni la qualité. Du beurre frais, du chocolat fondant, des fruits secs croquants… Des saveurs authentiques, préparées avec soin pour des moments de pure gourmandise.
        </p>
    </main>
</div>