.container {
    height: calc(100vh - 12vh - 4vh);
    background-image: url("../../../../assets/background2.webp");
    background-size: cover;
}

.text {
    text-align: center;
    padding-left: 22%;
    padding-right: 22%;
    padding-top: 2%;
}

p {
    margin-top:  5%;
    margin-bottom: 5%;
    font-size: 16px;
    line-height: 150%;
}

h1 {
    padding-top: 2%;
}