.container {
    background-image: url("../../../../assets/background2.webp");
    background-size: cover;
}

.text {
    text-align: center;
    padding-left: 22%;
    padding-right: 22%;
    padding-top: 2%;
    min-height: 55vh;
}

p {
    margin-top:  5%;
    margin-bottom: 5%;
    font-size: 16px;
    line-height: 150%;
}

h1 {
    padding-top: 2%;
}

.img {
    background-image: url("../../../../assets/bann.webp");
    background-size: cover;
    background-position: center;
    height: 400px;
}

.page {
    min-height: calc(100vh - 12vh);
    margin-bottom: -27px;
}